/* button:hover{
    background-color: green;
}

li{
    margin-top:30px ;
    text-align: left;
    color: crimson;
    background-color: chartreuse;
} */
a.active_class{
    color : darkred;
    border-bottom : 1px solid blueviolet;
}